// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
  padding-top: 10px;
  padding-left: 5%;
}

p {
  padding: 25px 0 8px 10%;
  line-height: 38px;
}

a {
  margin-left: 10%;
  
}


